<app-topheader></app-topheader>


<div class="col-3 col-md-3 center">
  <form  [formGroup]="loginForm" id="loginForm" (submit)="onSubmit()">
    <div id="login">
      <img class="centered" src="assets/images/angular.svg" alt="">
      <span class="centered" id="brand-login">
        Es necesario dar sus credenciales
      </span>
    </div>
    <div>
      <div class="form-group">
        <input class="form-control" name="name" formControlName="name" type="text" placeholder="Usuario">
      </div>
      <div class="form-group">
        <input  class="form-control" name="password" formControlName="password" type="text"  placeholder="Password">
      </div>

      <button class="form-control btn btn-primary" type="submit"> Login </button>

    </div>
  </form>
</div>
